extends layout 

block content
  div(class='reviewcontainer')
    h1= title + ' Reviews'
    ol
    each val in todos
      li(class='comment')
        span= val.task
        form(method='POST' action='/comments/delete')
          input(type='hidden', name='id', value=val.id)
          button(type='submit') Delete

    div
      form(method='POST' action='/comments/create')
        div(class = 'commentfield')
          textarea(name='task', id='task', rows='10',cols='100', required)
          button(type='submit') Comment