doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='pagehead')
      img(src='/images/yellow logo transparent.png', alt='company logo')
    nav(class='linksection')
      a(href='/') Home
      a(href='/menu') Menu
      a(href='/about')  About Us
      a(href='/comments') Comments
    block content
  footer(class='linksection')
    a(href='https://www.ubereats.com') UberEats
    a(href='https://www.doordash.com') DoorDash 